<h1>Phones Number Parser</h1>

<%= form_for @p do |f| %>
<div style="text-align: center;width: 100vw;"> <%= f.label :number, 'Phone Number:' %>
<br>

<%= f.text_field :number, style: "width: 50vw;" %>
	
<br>
<%= f.submit "Submit"%></div>
<% end %>
